name: widget-server pipe
on:
  push:
    branches: [ github-workflows ]

# [ ] - aws configure - credential config
# [ ] - aws ecr - ecr login
# [ ] - image build
# [ ] - image tag
# [ ] - image push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        id: checkout
        uses: actions/checkout@v4





